.classSelectingView{
    display:none;
}
.studentInformationView{
    display:none;
}
.paymentMethodView{
    display:none;
}
.form div{
    display:none;
}
.col{
    border:0.001rem solid black;
    background: cornsilk;
}
#title{
    margin:auto;
}
ul{
    list-style-type:none;
}
li:hover{
    background:burlywood;
}
.clicked{
    background: darkkhaki;
}
.ticket{
    background: white;
    padding:0 10px;
    border: 1px solid rgba(0,0,0,0.1);
}